@font-face {
  font-family: "TGothic-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TGothic-GT01.ttc);
}
@font-face {
  font-family: "TPGothic-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TGothic-GT01.ttc);
}
@font-face {
  font-family: "TMincho-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TMincho-GT01.ttc);
}
@font-face {
  font-family: "TPMincho-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TMincho-GT01.ttc);
}
@font-face {
  font-family: "TKaisho-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TKaisho-GT01.ttc);
}
@font-face {
  font-family: "TPKaisho-GT01";
  src: url(https://raw.githubusercontent.com/rp-Tellgit/Font_Regis/blob/pub/T_Font_Basic/TKaisho-GT01.ttc);
}